.sidebar{
    padding-top:50px;
}
.image_and_info{
    margin-bottom:50px;
}
.sidebar__image{
    height: 50px;
    width:50px;
    margin-bottom: 5px;
}
.sidebar__image:before {
    content: "";
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    margin-left: -3px;
    margin-top:-3px;
    color: white;
    border-radius:100%;
    font-size:.8rem;
    text-align: center;
    font-weight: bold;
  }
.sidebar__image>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:10px;
}
.userName{
    font-size:1.1rem;
    font-weight: bold;
    margin: 2px;
    color: white;
}
.userMail{
    font-size:.8rem;
    font-weight: bold;
    margin: 2px;
    color:rgb(119, 116, 116);
}

.listGrupStyle{
    width: fit-content;    
}
.list__item{
    border: 0px;
    font-size: 1.1rem;
    font-weight: bold;
    padding:0px;
    margin: 5px;
    color:rgb(119, 116, 116);
    background-color: black;
    transition: color 0.5s ease;
    &:hover{
        cursor: pointer;
        color: white;
        transition: color 0.5s ease;
    }
}